/*Các sử lý định dạng căn bản cho thẻ*/
*{
	margin:	0;
}
body{
	background:#efffff;
	font-family: Arial;
	font-size: 12px;
	text-align: center; 
}
table{
	font-size: 12px;
	width: 100%;
}
th, td{
	padding: 8px 5px;
}
th{
	background:#666;
	color:#fff;
	text-transform:uppercase;
}
.lc{
	text-align:right;
	font-weight:bold;
}
a{
	text-decoration:none;
}
a:hover{
	text-decoration:underline;
}

.clr{
	clear:both;
}