@import "compass/css3";
.side-bar-auto{
	position: relative;
	ul{
		display: none;
		position: absolute;
		z-index: 999;
		background: #fff;
		width: calc(100% - 2px);
	}
	.sidebar-title{
		cursor: pointer;
	}
	&:hover ul{
		display: block;
	}
}
.l-main-content{
	width: calc(83.333333% - 10px);
	margin-right: 10px;
	height: auto;
	float: left;
	.single-img{
		width: calc(40% - 15px);
		float: left;
		height: auto;
		margin-right: 15px;
		#img_large{
			border: 1px solid #ccc;
			box-shadow: 0px 0px 7px #ccc;
			padding: 10px 0;
		}
		ul{
			margin: 10px;
			width: 100%;
			li{
				margin: 0 3px;
				border: 1px solid #ccc;
				width: 82px;
				height: 82px;
				float: left;
				list-style: none;
				a{
					display: table-cell !important;
					width: 82px;
					height: 82px;
					text-align: center;
					vertical-align: middle;
				}
			}
		}
	}
	.single-content{
		width: 60%;
		float: left;
		height: auto;
		font-family: Roboto Condensed;
		.rate-area{
			text-align: left;
			.btnRating{
				padding: 10px;border: 1px solid transparent;background: #f39c3d;
				cursor: pointer;
				@include border-radius(3px);
				color: #fff;
				&:hover{
					background: #d87306;
				}
			}
		}
		.single-product-title{
			text-align: left;
			border-bottom: 1px solid #ccc; 
			h1{
				margin: 0;
				font-size: 20px;
    		}
    		.product-code{
    			text-transform: uppercase;
    			padding: 10px 0;
    			color: red;
    			font-size: 14px;
    		}
		}
		.star-o{
			display: inline-block;
			background-image: url(../images/icons-common2.svg),none;
			background-repeat: no-repeat;
			height: 12px;
			padding: 0px;
			width: 12px;
			background-position: 0 57.18%;
		}
		.star-d{
			display: inline-block;
			background-image: url(../images/icons-common2.svg),none;
			background-repeat: no-repeat;
			height: 12px;
			padding: 0px;
			width: 12px;
			background-position: 0 55.48%;
		}
		.infor-summary{
			text-align: left;
			font-size: 16px;
			border-bottom: 1px solid #ccc; 
			.product-vote{
				padding: 5px 0;
				font-weight: bold;
				position: relative;				
			}
			.product-warranty{
				padding: 5px 0;
			}
			.product-summary{
				padding: 5px 0 10px 0;
				.product-summary-content{
					line-height: 1.4;
				}
			}
		}
		.bt-single-product{
			text-align: left;
			padding: 10px;
			border-bottom: 1px solid #ccc; 
			a{
				text-decoration: none;
				display: inline-block;
				padding: 10px;
				font-size: 20px;
				color: #fff;
				@include border-radius(3px);
			}
			.add-cart-checkout{
				padding: 10px 20px;
				background-color: #e00;
				&:hover{
					background: #da2929;
				}
			}
			.add-to-cart{
				background: #4fabda;
				&:hover{
					background: #046495;
				}
			}
			.add-to-favorite{
				background: #f9a421;
				&:hover{
					background: #f9c021;
				}
			}
		}
		.product-detail-title{
			font-size: 16px;
			font-weight: bold;
			padding: 10px 0;
			margin-bottom: 10px;
			border-bottom: 2px solid #000;
			text-align: left; 
		}
		.product-detail{
			padding: 10px 0;
			text-align: left;
			table{
				margin: 10px 0;
				.td-title{
					padding: 3pt;
					width: 500px;
					}
				.event{
					background-color: #f2f2f2 !important;
				}
			}
		}
	}
}
.r-main-content{
	width: 16.666667%;
	height: auto;
	float: left;
	.sidebar-content{
		border: 1px solid #ccc;
		margin-bottom: 10px;
	}
	tr{
		display:block;
		margin: 0 10px;
	}
	a{
		text-decoration: none;
		color: #333;
		display: block;
		padding: 10px;
	}
	.single-sidebar-title{
		padding: 10px;
		color: #fff;
		text-transform: uppercase;
		background: #4c4c4c;
		font-weight: bold;
		background: -moz-linear-gradient(top, #4c4c4c 0%, #595959 12%, #666666 25%, #474747 39%, #2c2c2c 50%, #000000 51%, #111111 60%, #2b2b2b 76%, #1c1c1c 91%, #131313 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(top, #4c4c4c 0%,#595959 12%,#666666 25%,#474747 39%,#2c2c2c 50%,#000000 51%,#111111 60%,#2b2b2b 76%,#1c1c1c 91%,#131313 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to bottom, #4c4c4c 0%,#595959 12%,#666666 25%,#474747 39%,#2c2c2c 50%,#000000 51%,#111111 60%,#2b2b2b 76%,#1c1c1c 91%,#131313 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313',GradientType=0 );
	}
}
.product-reference{
	float: left;
	width: 100%;
	.product{
		width: calc(33.333333% - 7px) !important;
		margin-right: 5px;
		margin-bottom: 5px;
		border-left:1px solid #ccc !important;
	}
}